laws_data
laws_data*
*.zip
laws_data.zip
laws_sample
node_modules
dist
dist/static
/src/generated/prisma
.next*
.next.backup
.next.backup2
.next.backup*
.next.lock

validation_results

neo4j/

# Logs
*.log
logs/
*.log.*
